@import "../bootstrap/less/bootstrap.less";


/* Variables
----------------------------------------------------------------------------- */

@super_light_color: #E2F0F1;
@light_color: #1DB4B8;
@dark_color: #397D85;
@light_grey: #f7f7f7;


/* mixins
----------------------------------------------------------------------------- */

.transition (@transition) {
    -webkit-transition: @transition;  
    -moz-transition:    @transition;
    -ms-transition:     @transition; 
    -o-transition:      @transition;  
}

.grayscale(@value: 1) {
    -webkit-filter: grayscale(@value);
    -moz-filter: grayscale(@value);
    -o-filter: grayscale(@value);
    -ms-filter: grayscale(@value);
    filter: grayscale(@value);
}


/* Typography
----------------------------------------------------------------------------- */
body {
    font-family: 'Open Sans', sans-serif;
}

html,
body {
    height: 100%;
}

body {
    font-size: 15px;
    line-height: 1.50;
    color: #333333;
    background-color: #ffffff;
    position: relative;
}

h1, h2, h3, h4, h5, h6 {
    color: #333333;
}
h1 {
    font-size: 38px;
    font-weight: 700;
    margin-bottom: 20px;
}
h2 {
    font-size: 28px;
    margin-bottom: 15px;
}
h3 {
    font-size: 22px;
}
h4 {
    font-size: 18px;
    font-weight: 700;
}
h5 {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
}
h6 {
    font-weight: 700;
}

h1 span, h2 span, h3 span, h4 span {
    color: @light_color;
}

span.highlight_light {
    color: @light_color;
    font-size: @font-size-large * 1.3;
}

a {
    color: #55acee;
    &:hover {
        color: @light_color;
    }
    &:focus,
    &:active {
        outline: none;
    }
}

.large {
    font-size: @font-size-large;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.list-icons {
    padding: 0;
    margin: 20px 0;
    list-style: none;
    font-size: 18px;

    li {
        padding: 0 0 15px 0;
    }    
}

blockquote {
    border-left: none;
    padding-left: 0;
    padding-right: 0;
}


/* Backgrounds
----------------------------------------------------------------------------- */

.default-bg {
    background-color: #222222;
    color: #ffffff;

    &.blue {
        background-color: @dark_color;
    }
}
.translucent-bg {
    color: #ffffff;
}
.default-bg, .translucent-bg {
    h1, h2, h3, h4, h5, h6 {
        color: #ffffff;
    }
}

.default-bg, .translucent-bg {
    blockquote footer {
        color: #cccccc;
    }

    a {
        color: #ffffff;
        text-decoration: underline;
        &:hover {
            text-decoration: none;
        }
    }
}

.translucent-bg {
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
    background-position: 50% 0;
    background-repeat: no-repeat;
    z-index: 1;
    position: relative;
    
    .translucent-bg {
        margin-top: 80px;
        z-index: 3;
    }

    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
    }
    &.blue:after {
        background-color: rgba(57, 125, 133, 0.7);
    }
    .container {
        z-index: 3;
        position: relative;
    }
}

.bg-image-1 {
    background: url("../images/bg-image-1.jpg") 50% 0px no-repeat;
}

.bg-image-2 {
    background: url("../images/bg-image-2.jpg") 50% 0px no-repeat;
}

.bg_light_grey {
    background-color: @light_grey !important;
}


/* Layout
----------------------------------------------------------------------------- */

.header {
    color: #ffffff;
    background-color: transparent;
    padding: 10px 0;
    .transition(all 0.2s ease-in-out);
}
.section.clearfix {
    padding-bottom: 0;
}

.space {
    padding: 20px 0;
}


.section {
    background-color: #ffffff;
    padding: 80px 0;
}


/* Navigations
----------------------------------------------------------------------------- */

.header .navbar {
    margin-bottom: 0;
}

.main-navigation {
    .navbar-default {
        background-color: transparent;
        border: none;

        .navbar-nav {
            & > li {
                & > a {
                    color: #fff;
                    padding: 10px 20px;
                    font-size: 18px;
                    font-weight: 300;
                }

                &.active > a {
                    background-color: transparent;
                    color: @light_color;   
                }

                & > a:hover,
                &.active > a:hover {
                    color: @light_color;
                }
            }
        }
    }
}

@media (min-width:@screen-sm) {
    .main-navigation .navbar-default .navbar-nav > li > a {
        padding-top: 30px;
        padding-bottom: 30px;
        .transition(all 0.3s ease-in-out);
    }
}

@media (min-width:@screen-sm) and (max-width:@screen-md) {
    .main-navigation .container-fluid {
        padding-left: 0;
        padding-right: 0;
    }
    .navbar-nav {
        float: left !important;
    }
}

@media (max-width:@screen-sm) {
    .header.navbar-fixed-top {
        position: absolute;
    }
}


/* Fixed Header
----------------------------------------------------------------------------- */
.fixed-header-on {
    .header {
        background-color: rgba(47, 76, 87, 0.95);
        padding: 5px 0;
    }
    .logo {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
        margin-top: 0;
        margin-bottom: 0;
    }
}

@media (min-width:@screen-sm) {
    .fixed-header-on .navbar-default .navbar-nav > li > a {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

@media (max-width:@screen-md) {
    .fixed-header-on .logo,
    .fixed-header-on .site-name,
    .fixed-header-on .site-slogan {
        display: none;
    }
}


/* Slogan
----------------------------------------------------------------------------- */

.slogan {
    width: 100%;
    height: 100%;
    min-height: 100%;
    position: relative;
    color: #fff;

    &:after {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.55);
        content: "";
    }

    .slogan-image {
        vertical-align: middle;
        min-height: 100%;
        width: 100%;
    }

    .slogan-caption {
        position: absolute;
        top: 40%;
        width: 100%;
        z-index: 2;

        h1, h2 {
            color: #ffffff;        
        }

        h1 {
            font-size: 60px;
        }
    }
}


/* Team
----------------------------------------------------------------------------- */

.team-member {
    margin-bottom: 50px;
    text-align: center;

    img {
        margin: 0 auto;
        border: 7px solid #fff !important;
        max-width: 200px;
    }

    h4 {
        margin-top: 25px;
        margin-bottom: 0;
        text-transform: none;
    }

    p {
        margin-top: 0;
    }
}


/* Carousel
----------------------------------------------------------------------------- */
.carousel-inner {

    margin-bottom: 50px;

    .item {
        font-size: @font-size-large;

        i {
            font-size: @font-size-base;
            margin-right: 10px;
        }

        .highlight_light {
            font-size: @font-size-large;
        }

        img {
            max-height: 400px;
        }
    }
}
.carousel-control {
    &.left, &.right {
        background-image: none !important;
        margin-top: 150px !important;
        color: @dark_color;
    }
}


/* Key features
----------------------------------------------------------------------------- */

.key-feature {
    border-left: 1px solid #FFF;
    margin-bottom: 25px;
    padding-left: 10px;

    blockquote {
        margin-bottom: 0;
    }
}


/* awards
----------------------------------------------------------------------------- */

#awards {
    text-align: center;
    font-size: @font-size-large;
    img {
        .grayscale();
        margin-top: 20px;
    }
}


/* footer
----------------------------------------------------------------------------- */

footer {
    font-size: @font-size-large;

    .footer-content-right {
        text-align: center;
        border: 1px solid lightgray;
        padding: 20px 0 0 0;
        .border-top-radius(10px);
        .border-bottom-radius(10px);
    }

    a {
        display: none !important;
    }

    .logos {
        img {
            .grayscale();
        }
    }
}

